<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unicorn.ertech.chroom"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GlobalChat"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PrivateChat"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".IncognitoTab"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SetActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SetPrivate"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SetWallet"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".GiftsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Support"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PrivateMessaging"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Profile2"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SetCol"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Reg1"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Reset"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SearchResult"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ShareFacebook"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="ChRoom" >
        </activity>
        <activity
            android:name=".PhotoViewer"
            android:label="ChRoom" >
        </activity>
        <activity
            android:name=".SetChat"
            android:label="ChRoom" >
        </activity>
        <activity
            android:name=".NewsContainer"
            android:label="ChRoom" >
        </activity>
        <activity
            android:name=".anonMessaging"
            android:label="@string/title_activity_anon_messaging" >
        </activity>
        <activity
            android:name=".SetBlackList"
            android:label="@string/title_activity_anon_messaging" >
        </activity>
        <activity android:name="com.vk.sdk.VKOpenAuthActivity" />
        <activity
            android:name=".ShareLoginActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <data android:scheme="vk4795571" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".notif"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".Notifications"
            android:label="@string/title_activity_notifications" >
        </activity>
        <activity
            android:name=".anon_nickname"
            android:label="@string/title_activity_anon_nickname" >
        </activity>
        <activity
            android:name=".syncContacts"
            android:label="@string/title_activity_sync_contacts" >
        </activity>
        <activity
            android:name=".VActivity"
            android:label="@string/title_activity_v" >
        </activity>
        <activity
            android:name=".deleteAcc"
            android:label="@string/title_activity_delete_acc" >
        </activity>
    </application>

</manifest>
